.header
  padding: 10px 0
  margin-bottom: 50px
.nav
  text-align: center
.menu
  font-size: 0
  .menu-item
    display: inline-block
    vertical-align: middle
    margin: 0 20px
  .menu-link
    font-size: 14px
    line-height: 2
    color: $dark-blue
