// styles
.topper
  margin-bottom: 82px
.apps-row
  display: flex
  align-items: stretch
  justify-content: space-between
  +r(768)
    flex-direction: column
.product
  position: relative
  width: 31%
  padding: 30px 30px 100px
  font-size: 0
  border-radius: 8px
  background: #fff
  +r(1024)
    padding: 20px 20px 90px
  +r(768)
    width: 100%
    padding: 20px
    margin-bottom: 30px
    .btn
      position: relative
      bottom: auto
      left: auto
      transform: none
  .btn
    position: absolute
    bottom: 30px
    left: 50%
    transform: translateX(-50%)
  .product-img
    min-height: 126px
    margin-bottom: 28px
    text-align: center
    img
      max-width: 120px
    +r(768)
      display: inline-block
      vertical-align: middle
      width: 45%
      img
        width: 200px
        max-width: 100%
    +r(600)
      display: block
      width: 100%
  .product-info
    text-align: center
    +r(768)
      display: inline-block
      vertical-align: middle
      width: 55%
      padding-left: 5%
      text-align: left
    +r(600)
      display: block
      width: 100%
      padding-left: 0
      text-align: center
  .product-title
    margin-bottom: 11px
    +r(768)
      text-align: left
    +r(600)
      text-align: center
  .product-descr
    margin-bottom: 20px
    font-size: $default
    +r(768)
      font-size: $default_mobile
  &.-big
    padding: 40px
    width: 100%
    margin-bottom: 30px
    .btn
      position: relative
      left: auto
      bottom: auto
      transform: none
    +r(1024)
      padding: 30px
    .product-img, .product-info
      display: inline-block
      vertical-align: middle
      width: 50%
      +r(600)
        display: block
        width: 100%
    .product-img
      img
        max-width: 365px
      +r(1024)
        width: 45%
      +r(768)
        img
          max-width: 100%
    .product-info
      text-align: left
      +r(1024)
        width: 55%
        padding-left: 5%
      +r(600)
        text-align: center
        padding-left: 0
    .product-title
      text-align: left
      margin-bottom: 23px
      +r(600)
        text-align: center
