// styles
.topper
  margin-bottom: 82px
.apps-row
  +clr
  +r(768)
    flex-direction: column
.product
  position: relative
  display: table
  width: 100%
  padding: 30px
  border-radius: 8px
  margin-bottom: 30px
  background: #fff
  +r(1024)
    padding: 20px 20px 90px
  +r(768)
    width: 100%
    padding: 20px
    margin-bottom: 30px

    .btn
      position: relative
      bottom: auto
      left: auto
      transform: none
  +r(600)
    display: block
  .btn
    position: absolute
    bottom: 30px
    left: 50%
    transform: translateX(-50%)
  .product-img
    display: table-cell
    vertical-align: top
    width: 180px
    padding-right: 40px
    img
      transition: transform 300ms
      width: 140px
      max-width: 100%
    +r(768)
      margin-bottom: 28px
    +r(600)
      display: block
      width: 100%
      text-align: center
      padding-right: 0
  .product-info
    display: table-cell
    vertical-align: top
    //overflow: hidden
    text-align: left
    font-size: 18px
    +r(600)
      display: block
      width: 100%
      padding-left: 0
      text-align: center
  .product-title
    margin-bottom: 11px
    transition: color 300ms
    text-align: left
    +r(600)
      text-align: center
  .product-subtitle
    margin-bottom: 20px
    font-size: 27px
    font-weight: $light
    color: $dark
  .product-descr
    margin-bottom: 20px
    font-size: $default
    +r(600)
      font-size: $default_mobile
  &.-prod
    background: none
    +r(768)
      padding: 10px
      .product-img, .product-info
        display: block
        width: 100%
        text-align: center
        padding: 0
      .product-title
        text-align: center
  &.-big
    padding: 40px
    width: 100%
    margin-bottom: 30px
    font-size: 0
    &:after
      display: none
    .btn
      position: relative
      left: auto
      bottom: auto
      transform: none
      margin-bottom: 10px
    +r(1024)
      padding: 30px
    +r(768)
      padding: 10px
    .product-img, .product-info
      display: inline-block
      vertical-align: middle
      float: none
      width: 50%
      +r(600)
        display: block
        width: 100%
    .product-img
      img
        width: 365px
        max-width: 100%
      +r(1024)
        width: 45%
      +r(768)
        img
          width: 200px
          max-width: 100%
    .product-info
      text-align: left
      +r(1024)
        width: 55%
        padding-left: 5%
      +r(600)
        text-align: center
        padding-left: 0
    .product-title
      text-align: left
      margin-bottom: 23px
      +r(600)
        text-align: center
  &.-small
    padding: 30px
a.product
  color: $text
  &:hover
    text-decoration: none
    .product-title
      color: $blue
    .product-img
      img
        transform: scale(1.05)
.appstore-link
  display: inline-block
  vertical-align: middle
  font-size: 0
  margin-bottom: 10px
.get
  position: relative
  display: inline-block
  vertical-align: middle
  margin-bottom: 10px
  &:hover
    .get-dropdown
      opacity: 1
      visibility: visible
  +r(480)
    display: block
  .btn
    margin: 0!important
  .get-dropdown
    position: absolute
    top: 40px
    left: 50%
    width: 290px
    padding-top: 10px
    transform: translateX(-50%)
    transition: opacity 300ms
    opacity: 0
    visibility: hidden
    +r(600)
      left: auto
      right: 0
      transform: none
    +r(480)
      left: 50%
      right: auto
      transform: translateX(-50%)
  .get-list
    position: relative
    padding: 15px 0
    border-radius: 12px
    text-align: left
    background: rgba(#000624, .95)
    &:before
      content: ""
      position: absolute
      top: -5px
      right: 105px
      +arr(10, 5, rgba(#000624, .95), t)
    +r(480)
      &:before
        right: 50%
        transform: translateX(50%)
    li
      a, button
        display: inline-block
        width: 100%
        padding: 10px 20px
        color: #fff
        font-size: 18px
        background: none
        border-radius: 1px
        text-align: left
        transition: background 300ms
        .icon
          display: inline-block
          margin-right: 5px
        &:hover
          text-decoration: none
          background: rgba(#fff, .18)

.command
  padding: 120px 0 145px
  font-size: 0
  .command-block
    display: inline-block
    vertical-align: top
    width: 50%
    margin-bottom: 80px
    padding-right: 20px
    font-size: 18px
    .h4
      text-align: left
    p
      margin-bottom: 20px
    code
      color: #42465B
      
.alert
  position: relative
  padding: 17px
  background: #39D126
  .alert-body
    +clr
    +r(768)
      text-align: center
  .alert-left
    float: left
    +r(768)
      float: none
      margin-bottom: 10px
  .alert-right
    float: right
    +r(768)
      float: none
  .alert-row
    font-size: 0
  .alert-col
    display: inline-block
    vertical-align: middle
    margin-right: 25px
    font-size: 18px
    font-weight: bold
    color: #fff
    +r(1024)
      font-size: 16px
      margin-right: 10px
    +r(768)
      margin-bottom: 10px
    .icon-macpaw
      font-size: 32px
    img
      width: auto
      height: 32px
