<header class="header">
  <div class="wrapper">
    <nav class="nav">
      <ul class="menu">
        <li class="menu-item"><a class="menu-link" href="#">Home</a></li>
        <li class="menu-item">
          <a class="menu-link" href="#">Products <i class="arr-down"></i></a>
          <div class="dropdown">
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                  <div class="dropdown-icon"><img src="img/unarchive.png" alt=""></div>
                  <div class="dropdown-title">The Unarchiver</div>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                  <div class="dropdown-icon"><img src="img/archive-browser.png" alt=""></div>
                  <div class="dropdown-title">The Archive Browser</div>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                  <div class="dropdown-icon"><img src="img/xee.png" alt=""></div>
                  <div class="dropdown-title">Xee<sup>3</sup></div>
                </a>
              </li>
              <li class="dropdown-item">
                <a href="#" class="dropdown-link">
                  <div class="dropdown-icon"><img src="img/archives.png" alt=""></div>
                  <div class="dropdown-title">Archives</div>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item"><a class="menu-link" href="#">Support</a></li>
      </ul>
    </nav>
  </div>
</header>