---
url: https://theunarchiver.com/archive-browser
title: The Archive Browser for Mac | View Archive Contents
meta_descr: Get the top application for viewing files in archives on Mac. Quick look or open files right from the archive, without extracting them.
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <div class="product -big -prod">
        <div class="product-img">
          <img src="img/archive-browser.png"
               srcset="img/archive-browser@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">The Archive Browser</h2>
          <div class="product-subtitle">Quickly view archive contents</div>
          <div class="product-descr">
            <p>The Archive Browser lets you easily peek into the archive, find the files you need, preview and extract them without unarchiving everything. Quick Look any file or folder and open them right from the archive</p>
          </div>
          <a href="/downloads/TheArchiveBrowser.zip" class="btn">Download</a>
          <div class="get">
            <button class="btn -gray">Buy Now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><button class="js-paddle" data-product="489450">{{ mixins.icon('macpaw') }} MacPaw Store</button></li>
                <li><a href="https://itunes.apple.com/us/app/the-archive-browser/id510232205?mt=12">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits row">
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/inform.svg" alt=""></div>
            <div class="h4">View info on archives and their contents</div>
            <div class="benefit-text">You can see when the file was last accessed and modified, size and compression rate, etc.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/browse.svg" alt=""></div>
            <div class="h4">View archives of any format</div>
            <div class="benefit-text">Including Zip, RAR, 7-zip, Tar, Gzip and Bzip2, StuffIt, DiskDoubler, LZH, ISO, BIN, MDF, and even EXE.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/a.svg" alt=""></div>
            <div class="h4">Read encoded names in various characters</div>
            <div class="benefit-text">The Archive Browser will correctly display any non-Latin alphabet in the name of the archive</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="wrapper">
      <div class="swiper-container js-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/archive-browser-screenshot-01.png"
                 srcset="img/archive-browser-screenshot-01@2x.png 2x"
                 alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/archive-browser-screenshot-02.png"
                 srcset="img/archive-browser-screenshot-02@2x.png 2x"
                 alt="">
          </div>
        </div>
        <button class="swiper-prev js-prev">{{ mixins.icon('prev') }}</button>
        <button class="swiper-next js-next">{{ mixins.icon('next') }}</button>
      </div>
      <div class="howto">
        <h2 class="h2">How to use The Archive Browser</h2>
        <div class="steps">
          <div class="step">
            <div class="h2">1</div>
            <div class="step-text">Download the zip file</div>
          </div>
          <div class="step">
            <div class="h2">2</div>
            <div class="step-text">Unzip it, you can use the free Unarchiver for the job</div>
          </div>
          <div class="step">
            <div class="h2">3</div>
            <div class="step-text">Right click on any archive you need to view</div>
          </div>
          <div class="step">
            <div class="h2">4</div>
            <div class="step-text">Choose Open with -> The Archive Browser</div>
          </div>
          <div class="step">
            <div class="h2">5</div>
            <div class="step-text">Enjoy the view!</div>
          </div>
        </div>
        <div class="howto-footer">
          <p>You can click any file inside the archive to get additional info and Quick Look or open it with Preview.</p>
          <a href="/downloads/TheArchiveBrowser.zip" class="btn">Download</a>
          <div class="get">
            <button class="btn -gray">Buy Now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><button class="js-paddle" data-product="489450">{{ mixins.icon('macpaw') }} MacPaw Store</button></li>
                <li><a href="https://itunes.apple.com/us/app/the-archive-browser/id510232205?mt=12">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="more">
    <div class="wrapper">
      <h2 class="h2">Other Apps:</h2>
      <div class="apps-row">
        <div class="apps-col">
          <a href="/" class="product -small">
            <div class="product-img">
              <img src="img/unarchiver.png"
                   srcset="img/unarchiver@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">The Unarchiver</div>
              <div class="product-descr">
                <p>Open any archive in seconds</p>
              </div>
            </div>
          </a>
        </div>
        <div class="apps-col">
          <a href="archives" class="product -small">
            <div class="product-img">
              <img src="img/archives.png"
                   srcset="img/archives@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">Archives</div>
              <div class="product-descr">
                <p>Handle archives on the iPhone and iPad.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="apps-col">
          <a href="xee" class="product -small">
            <div class="product-img">
              <img src="img/xee.png"
                   srcset="img/xee@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">Xee <sup>3</sup></div>
              <div class="product-descr">
                <p>Easily browse images in folders and archives on macOS.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="apps-col">
          <a href="command-line" class="product -small">
            <div class="product-img">
              <img src="img/command-line-tools.png"
                   srcset="img/command-line-tools-icon@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">Command Line Tool</div>
              <div class="product-descr">
                <p>Use Unarchiver’s code on other OSes with command line.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block paddle %}
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <script type="text/javascript">
    var Helpers = function() {};
    Helpers.prototype.setCookie = function(name, value, days) {
      var expires = '';
      if (days) {
        var date = new Date();
        date.setDate(date.getDate() + days);
        var expires = '; expires=' + date.toGMTString();
      }
      document.cookie = name + '=' + value + expires + '; path=/';
    }
    Helpers.prototype.getCookie = function(name) {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var current_cookie = cookies[i];
        var current_name = current_cookie.substr(0, current_cookie.indexOf('='));
        // trim
        current_name = current_name.replace(/^\s+|\s+$/g,'');
        if (current_name == name) {
          return decodeURI(current_cookie.substr(current_cookie.indexOf('=') + 1));
        }
      }
      return false;
    }
    Helpers.prototype.remCookie = function(name) {
      this.setCookie(name, '', -1);
    }
    var helpers = new Helpers();
    var isAndroid = /(android)/i.test(navigator.userAgent);
    Paddle.Setup({
      vendor: 126,
      eventCallback: function (event) {
        var coupon = '';
        var step;
        switch (event.event) {
          case 'Checkout.Login':
            step = 1;
            break;
          case 'Checkout.CountryInformationEntered':
            step = 2;
            break;
          case 'Checkout.PaymentMethodSelected':
            step = 3;
            break;
          case 'Checkout.PaymentComplete':
            step = 4;
            break;
          case 'Checkout.Complete':
            step = 5;
            break;
        }
        var obj = {
          'event': 'macpaw-paddle',
          'paddle-currency': event.eventData.checkout.prices.vendor.currency,
          'paddle-referrer': event.checkoutData.parentURL,
          'paddle-eventCategory': 'Checkout',
          'paddle-eventAction': event.event,
          'ecommerce': {
            'actionField': {
              'action': 'checkout',
              'step': step
            },
            'checkout': {
              'products': [{
                'name': event.eventData.product.name,
                'id': event.eventData.product.id,
                'price': event.eventData.checkout.prices.vendor.total,
                'quantity': event.eventData.product.quantity
              }]
            },
            'currencyCode': event.eventData.checkout.prices.vendor.currency
          }
        };
        if (event.event != 'Checkout.DuplicateWarningShown' && event.event != 'Checkout.Close' && event.event != 'Checkout.Loaded' && event.event != 'Checkout.Error') {
          dataLayer.push(obj);
        }
        if (event.event == 'Checkout.Close' && isAndroid) {
          var viewport = document.querySelector("meta[name=viewport]");
          viewport.setAttribute('content', 'width=device-width, initial-scale=0.32');
        }
        if (event.event == 'Checkout.Complete') {
          if (event.eventData.checkout.coupon) coupon = event.eventData.checkout.coupon.coupon_code;
          if (helpers.getCookie('cookieOrderId') != event.eventData.checkout.id) {
            dataLayer.push({
              'event': 'macpaw-paddle-purchase',
              'paddle-currency': event.eventData.checkout.prices.vendor.currency,
              'paddle-referrer': event.checkoutData.parentURL,
              'paddle-eventCategory': 'Checkout',
              'paddle-eventAction': event.event,
              'ecommerce': {
                'purchase': {
                  'actionField': {
                    'id': event.eventData.checkout.id,
                    'revenue': event.eventData.checkout.prices.vendor.total,
                    'coupon': coupon
                  },
                  'products': [{
                    'name': event.eventData.product.name,
                    'id': event.eventData.product.id,
                    'price': event.eventData.checkout.prices.vendor.total,
                    'quantity': event.eventData.product.quantity,
                    'coupon': coupon
                  }]
                }
              }
            });
          }
          helpers.setCookie('cookieOrderId', event.eventData.checkout.id);
        }
      }
    });
    [].slice.call(document.querySelectorAll('.js-paddle')).forEach(function(btn) {
      btn.addEventListener('click', function (e) {
        var productId = e.target.getAttribute('data-product');
        Paddle.Checkout.open({
          product: productId,
          passthrough: 126
        })
      });
    });
  </script>
{% endblock %}