---
title: The Archive Browser for Mac | View Archive Contents
meta_descr: Get the top application for viewing files in archives on Mac. Quick look or open files right from the archive, without extracting them.
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <div class="product -big -prod">
        <div class="product-img">
          <img src="img/archive-browser.png"
               srcset="img/archive-browser@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">The Archive Browser</h2>
          <div class="product-subtitle">Quickly view archive contents</div>
          <div class="product-descr">
            <p>The Archive Browser lets you easily peek into the archive, find the files you need, preview and extract them without unarchiving everything. Quick Look any file or folder and open them right from the archive</p>
          </div>
          <button class="btn">Try for free</button>
          <div class="get">
            <button class="btn -gray">Buy now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><a href="#">{{ mixins.icon('macpaw') }} Store MacPaw</a></li>
                <li><a href="#">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
          <div class="product-hint"><small>OS X 10.7 or later. For earlier versions <a href="#">click here</a>.</small></div>
        </div>
      </div>
      <div class="benefits row">
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/inform.svg" alt=""></div>
            <div class="h4">View info on archives and their contents</div>
            <div class="benefit-text">You can see when the file was last accessed and modified, size and compression rate, etc.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/browse.svg" alt=""></div>
            <div class="h4">View archives of any format</div>
            <div class="benefit-text">Including Zip, RAR, 7-zip, Tar, Gzip and Bzip2, StuffIt, DiskDoubler, LZH, ISO, BIN, MDF, and even EXE.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/a.svg" alt=""></div>
            <div class="h4">Read encoded names in various characters</div>
            <div class="benefit-text">The Archive Browser will correctly display any non-Latin alphabet in the name of the archive</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="wrapper">
      <div class="slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
          </ul>
        </div>
        <button class="slider-prev js_prev">{{ mixins.icon('prev') }}</button>
        <button class="slider-next js_next">{{ mixins.icon('next') }}</button>
      </div>
      <div class="howto">
        <h2 class="h2">How to use The Archive Browser</h2>
        <div class="steps">
          <div class="step">
            <div class="h2">1</div>
            <div class="step-text">Download the zip file</div>
          </div>
          <div class="step">
            <div class="h2">2</div>
            <div class="step-text">Unzip it, you can use the free Unarchiver for the job</div>
          </div>
          <div class="step">
            <div class="h2">3</div>
            <div class="step-text">Right click on any archive you need to view</div>
          </div>
          <div class="step">
            <div class="h2">4</div>
            <div class="step-text">Choose Open with -> The Archive Browser</div>
          </div>
          <div class="step">
            <div class="h2">5</div>
            <div class="step-text">Enjoy the view!</div>
          </div>
        </div>
        <div class="howto-footer">
          <p>You can click any file inside the archive to get additional info and Quick Look or open it with Preview.</p>
          <button class="btn">Download for Free</button>
          <p><small>OS X 10.7 or later. For earlier versions <a href="#">click here</a>.</small></p>
        </div>
      </div>
    </div>
  </section>
  <section class="more">
    <div class="wrapper">
      <h2 class="h2">Other Apps:</h2>
      <div class="apps-row">
        <a href="#" class="product -small">
          <div class="product-img">
            <img src="img/archive-browser.png"
                 srcset="img/archive-browser@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">The Archive Browser</div>
            <div class="product-descr">
              <p>The hugely popular unarchiving app for Mac OS X.</p>
            </div>
          </div>
        </a>
        <a href="#" class="product -small">
          <div class="product-img">
            <img src="img/archives.png"
                 srcset="img/archives@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">Archives</div>
            <div class="product-descr">
              <p>Handle archives on the iPhone and iPad.</p>
            </div>
          </div>
        </a>
        <a href="#" class="product -small">
          <div class="product-img">
            <img src="img/xee.png"
                 srcset="img/xee@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">Xee <sup>3</sup></div>
            <div class="product-descr">
              <p>Easily browse images in folders and archives on OS X.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
{% endblock %}