---
url: https://theunarchiver.com/command-line
title: Unar and Lsar | Command Line Tools for The Unarchiver
meta_descr: Get command line tools for unarchiving archives in the terminal on Mac, Windows, Linux, and Ubuntu.
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <div class="product -big -prod">
        <div class="product-img">
          <img src="img/command-line-tools.png"
               srcset="img/command-line-tools@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">Command line tools</h2>
          <div class="product-descr">
            <p>The Unarchiver is a macOS app, but the underlying unarchiving code can run on other OSes, too. There is not yet any GUI app for any other OS, but there are two command-line tools, unar and lsar, which can be used on macOS, Windows and Linux.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="wrapper">
      <div class="command">
        <div class="command-block">
          <h4 class="h4">macOS</h4>
          <p>Pre-compiled versions for macOS are available on the Google Code download page, or here:</p>
          <p><a href="https://theunarchiver.com/downloads/unarMac.zip">https://theunarchiver.com/downloads/unarMac.zip</a></p>
          <p>For older macOS versions, use the legacy version:</p>
          <p><a href="https://theunarchiver.com/downloads/legacy/unarMac.zip">https://theunarchiver.com/downloads/legacy/unarMac.zip</a></p>
        </div>
        <div class="command-block">
          <h4 class="h4">Windows</h4>
          <p>The Windows versions are currently cross-compiled with Cocotron on OS X. You find binary versions here:</p>
          <p><a href="https://theunarchiver.com/downloads/unarWindows.zip">https://theunarchiver.com/downloads/unarWindows.zip</a></p>
          <p><i>The Windows version is currently slightly outdated. An update will follow.</i></p>
        </div>
        <div class="command-block">
          <h4 class="h4">Ubuntu</h4>
          <p>Ubuntu 12.04 packages <strong>unar</strong> and <strong>lsar</strong>, under the package name "unar". You can install them from the Software Center, or using the command line:</p>
          <p><code>sudo apt-get install unar</code></p>
        </div>
        <div class="command-block">
          <h4 class="h4">Other Linuxes</h4>
          <p>Some other distros also package unar, but since I do not use them, I am not sure how to install them. Debian probably handles it similarly to Ubuntu above, and I think Gentoo also has some way to install it. If anyone wants to supply me with instructions for those, I will add them here.</p>
          <p>You can also <a href="https://theunarchiver.com/downloads/TheUnarchiverSource.zip">download the source code</a> and compile the tools by hand. To do this, you will need to find and install the required third-party libraries that the XADMaster library depends on (GNUstep, zlib, libbzip2, OpenSSL, and ICU). How to do that depends on which distribution you are using. On Ubuntu, the following should work:</p>
          <p><code>sudo apt-get install build-essential libgnustep-base-dev libz-dev libbz2-dev libssl-dev libicu-dev</code></p>
          <p><code>cd XADMaster</code></p>
          <p><code>make -f Makefile.linux</code></p>
        </div>
      </div>
    </div>
  </section>
  <section class="more">
    <div class="wrapper">
      <h2 class="h2">Other Apps:</h2>
      <div class="apps-row">
        <a href="/" class="product -small">
          <div class="product-img">
            <img src="img/unarchiver.png"
                 srcset="img/unarchiver@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">The Unarchiver</div>
            <div class="product-descr">
              <p>Open any archive in seconds</p>
            </div>
          </div>
        </a>
        <a href="archive-browser" class="product -small">
          <div class="product-img">
            <img src="img/archive-browser.png"
                 srcset="img/archive-browser@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">The Archive Browser</div>
            <div class="product-descr">
              <p>The hugely popular unarchiving app for macOS.</p>
            </div>
          </div>
        </a>
        <a href="archives" class="product -small">
          <div class="product-img">
            <img src="img/archives.png"
                 srcset="img/archives@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">Archives</div>
            <div class="product-descr">
              <p>Handle archives on the iPhone and iPad.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
{% endblock %}