---
title: Mac Archive Utilities| The Unarchiver, Archive Browser, Xee Image Viewer
meta_descr: Unrar files on Mac, peek into the archive contents, view archives right from your iPhone. The Archive Utility Pack covers everything you need.

---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <h1 class="h1">Mac Archive Utility Pack</h1>
      <h4 class="subtitle">Top software for archive files on macOS and iOS</h4>
    </div>
  </section>
  <section class="apps">
    <div class="wrapper">
      <div class="product -big">
        <div class="product-img">
          <img src="img/unarchive.png"
               srcset="img/unarchive@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">The Unarchiver</h2>
          <div class="product-descr">
            <p>The Unarchiver is the only app you need to unrar files on Mac. It’s times more powerful than the native macOS utility and supports infinitely more archive formats.
              <a href="unarchiver.html">Read more</a>...</p>
          </div>
          <button class="btn">Download for Free</button>
          <button class="btn -gray">Buy now</button>
        </div>
      </div>
      <div class="apps-row">
        <div class="product">
          <div class="product-img">
            <img src="img/archive-browser.png"
                 srcset="img/archive-browser@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">The Archive Browser</div>
            <div class="product-descr">
              <p>A simple and efficient archive viewer. With this archive utility, Mac has a tool to open archive contents and Preview the files without extracting them. You can also extract separate files when needed.</p>
            </div>
            <a href="#" class="btn -blue">view app</a>
          </div>
        </div>
        <div class="product">
          <div class="product-img">
            <img src="img/archives.png"
                 srcset="img/archives@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">Archives</div>
            <div class="product-descr">
              <p>With Archives, you can view archive contents on any iOS device, without your desktop computer. Unzip files on iPhone or iPad, see what’s inside, save or send them directly from the app.</p>
            </div>
            <a href="#" class="btn -blue">view app</a>
          </div>
        </div>
        <div class="product">
          <div class="product-img">
            <img src="img/xee.png"
                 srcset="img/xee@2x.png 2x"
                 alt="">
          </div>
          <div class="product-info">
            <div class="product-title h4">Xee <sup>3</sup>.app</div>
            <div class="product-descr">
              <p>Xee image viewer for Mac lets you easily work with images of all formats. It allows for a better file management, quick access, and a comfortable view of all your galleries.</p>
            </div>
            <a href="#" class="btn -blue">view app</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}