---
title: The Unarchiver | Unrar Mac Files for Free
meta_descr: Get the top application for archives on Mac. It’s a RAR extractor, it allows you to unzip files, and works with dozens of other formats.
popular:
  - item:
    format: Zip
    support: Full
    info: Full support for the normal zip format, with additional support for AES encryption, Zip64 extensions for large files, Mac OS extensions of many different kinds, and several unusual compression methods. Can also extract .EXE self-extracting files using Zip.
  - item:
    format: Zipx
    support: Full
    info: Full support for the new compression modes introduced by WinZip.
  - item:
    format: RAR
    support: Full
    info: Including encryption and multiple volumes. Can also extract .EXE self-extracting files using RAR.
  - item:
    format: 7z
    support: Full
    info: All common compression methods are supported. Also supports Unix extensions.
  - item:
    format: Tar
    support: Full
  - item:
    format: Gzip
    support: Full
  - item:
    format: Bzip2
    support: Full
  - item:
    format: LZMA, XZ
    support: Full
    info: Both the old "LZMA-alone" format, usually named .lzma, and the new .xz format.
  - item:
    format: CAB
    support: Full
  - item:
    format: MSI
    support: Full
    info: This format is also used by many other Microsoft formats, meanings that you can use The Unarchiver to extract internal data from DOC and PPT files, and others. There is probably no reason to do this, but you can.
  - item:
    format: NSIS
    support: Extensive
    info: Supports many different versions, starting from version 1.1o
  - item:
    format: EXE
    support: Some
    info: Many kinds of .exe self-extracting formats are supported. However, if you find one that is not, please post an issue on the bug tracker.
  - item:
    format: ISO, BIN, MDF, NRG, CDI
    support: Extensive
    info: Most common disc images can be unpacked, both normal and raw.
  - item:
    format: Split files
    support: Basic
    info: Can join files named .001, .002 that do not use any extra wrapper format.

old:
  - item:
    format: StuffIt
    support: No encryption
    info: Can unpack all files I've been able to locate.
  - item:
    format: StuffIt X
    support: Partial
    info: Can unpack many files, some more obscure features are still unsupported. JPEG compression is also unsupported.
  - item:
    format: DiskDoubler
    support: Almost full
    info: Only lacks some old compression methods, because I have not been able to locate any files using these. If you have some that do not work, please post them here.
  - item:
    format: Compact Pro
    support: No encryption
  - item:
    format: PackIt
    support: Full
  - item:
    format: Cpio
    support: Full
  - item:
    format: Compress (.Z)
    support: Full
  - item:
    format: ARJ
    support: No multi-part
  - item:
    format: ARC, PAK
    support: Full
    info: Full support for all algorithms, including proprietary ones from PAK. Encryption only works in command-line utilities.
  - item:
    format: Ace
    support: Only old files
    info: No support for Ace 2.0 and up (WinAce).
  - item:
    format: Zoo
    support: Full
  - item:
    format: LZH
    support: Full
  - item:
    format: ADF
    support: FFS
    info: Can extract files from Amiga disk images using the regular FFS file system.
  - item:
    format: DMS
    support: FFS
    info: Can extract files from compressed Amiga disk images using the regular FFS file system.
  - item:
    format: LZX
    support: Full
  - item:
    format: PowerPacker
    support: Full
  - item:
    format: LBR
    support: Full
  - item:
    format: Squeeze
    support: Full
  - item:
    format: Crunch
    support: Full
unusual:
  - item:
    format: XAR
    support: FFS
    info: Suggested replacement for Tar on Unix. Used in some newer .pkg files on Mac OS X.
  - item:
    format: RPM
    support: Full
    info: Linux package format.
  - item:
    format: Deb
    support: Full
    info: Linux package format.
  - item:
    format: Ar
    support: Full
    info: Unix library format.
  - item:
    format: ALZip
    support: No encryption
    info: Archive format which is mainly popular in South Korea. Support for all known compression methods, including Bzip2, Deflate and obfuscated Deflate.
  - item:
    format: WARC
    support: Full
    info: Internet Archive Web Archive. Request and response headers also included in metadata.
  - item:
    format: NSA, SAR
    support: Partial
    info: Game data file. Can unpack all files I've found. If you have ones that do not unpack, please post an issue.
  - item:
    format: NDS
    support: Full
    info: Nintendo DS ROM image, which can contain a file system.
  - item:
    format: SWF
    support: Images and audio
    info: Extracts images, sounds and music from Flash files.
  - item:
    format: PDF
    support: Bitmap images
    info: Extracts bitmap images from PDF files. Especially useful for scanned PDFs.
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <div class="product -big -prod">
        <div class="product-img">
          <img src="img/unarchive.png"
               srcset="img/unarchive@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">The Unarchiver</h2>
          <div class="product-subtitle">Open any archive in seconds</div>
          <div class="product-descr">
            <p>The Unarchiver is the only app you need to open RAR on Mac. It’s times more powerful than the native macOS utility and supports infinitely more archive formats.</p>
          </div>
          <a href="#" class="appstore-link">
            <img src="img/appstore.png"
                 srcset="img/appstore@2x.png 2x"
                 alt="">
          </a>
          <button class="btn">Download</button>
          <div class="product-hint"><small>OS X 10.7 or later. For earlier versions <a href="#">click here</a>.</small></div>
        </div>
      </div>
      <div class="benefits row">
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/install.svg" alt=""></div>
            <div class="h4">Quick install</div>
            <div class="benefit-text">Takes a few clicks to install and set it as a default app for all archive files.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/star.svg" alt=""></div>
            <div class="h4">Free and always will be</div>
            <div class="benefit-text">The Unarchiver for Mac is free. No in-apps for additional features.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/a.svg" alt=""></div>
            <div class="h4">Reads foreign characters</div>
            <div class="benefit-text">If your archive is named with non-Latin characters, it’s not a problem.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="wrapper">
      <div class="slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
          </ul>
        </div>
        <button class="slider-prev js_prev">{{ mixins.icon('prev') }}</button>
        <button class="slider-next js_next">{{ mixins.icon('next') }}</button>
      </div>
      <div class="formats js-show">
        <h2 class="h2">Supported archive formats</h2>
        <p>With The Unarchiver you can extract files from the following archive formats</p>
        <div class="formats-box">
          <div class="formats-wrap">
            <div class="formats-col">
              <div class="h4">Popular formats</div>
              <table class="formats-table">
                {% for item in popular %}
                  <tr>
                    <td><strong>{{ item.format }}</strong></td>
                    <td>
                      <div>
                        <span>{{ item.support }}</span>
                        {% if item.info %}
                          <div class="hint">
                            <button class="hint-btn">{{ mixins.icon('info') }}</button>
                            <div class="hint-body">
                              <p><strong>{{ item.format }}</strong></p>
                              <p>{{ item.info }}</p>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <div class="formats-col">
              <div class="h4">Old formats</div>
              <table class="formats-table">
                {% for item in old %}
                  <tr>
                    <td><strong>{{ item.format }}</strong></td>
                    <td>
                      <div>
                        <span>{{ item.support }}</span>
                        {% if item.info %}
                          <div class="hint">
                            <button class="hint-btn">{{ mixins.icon('info') }}</button>
                            <div class="hint-body">
                              <p><strong>{{ item.format }}</strong></p>
                              <p>{{ item.info }}</p>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
              <div class="formats-text">Many other old formats, especially Amiga-specific ones, are also supported through libxad, but I have not made a full survey of which ones.</div>
            </div>
            <div class="formats-col">
              <div class="h4">Unusual formats</div>
              <table class="formats-table">
                {% for item in unusual %}
                  <tr>
                    <td><strong>{{ item.format }}</strong></td>
                    <td>
                      <div>
                        <span>{{ item.support }}</span>
                        {% if item.info %}
                          <div class="hint">
                            <button class="hint-btn">{{ mixins.icon('info') }}</button>
                            <div class="hint-body">
                              <p><strong>{{ item.format }}</strong></p>
                              <p>{{ item.info }}</p>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <div class="formats-footer">
            <button class="btn -blue js-show-more">View All</button>
          </div>
        </div>
      </div>
      <div class="howto">
        <h2 class="h2">How to use The Unarchiver</h2>
        <div class="steps">
          <div class="step">
            <div class="h2">1</div>
            <div class="step-text">Choose any archive file</div>
          </div>
          <div class="step">
            <div class="h2">2</div>
            <div class="step-text">Go to File -> Get info menu</div>
          </div>
          <div class="step">
            <div class="h2">3</div>
            <div class="step-text">In the Open with choose The Unarchiver</div>
          </div>
          <div class="step">
            <div class="h2">4</div>
            <div class="step-text">Click Change all</div>
          </div>
        </div>
        <div class="howto-footer">
          <p>Now all the archive files you have will automatically open with The Unarchiver and you’ll forget the “Unknown format” alerts and extraction errors forever. Having a RAR extractor for Mac saves you tons of time when dealing with archives.</p>
          <a href="#" class="appstore-link">
            <img src="img/appstore.png"
                 srcset="img/appstore@2x.png 2x"
                 alt="">
          </a>
          <button class="btn">Download</button>
          <p><small>OS X 10.7 or later. For earlier versions <a href="#">click here</a>.</small></p>
        </div>
      </div>
    </div>
  </section>
  {% include "./partials/_more.njk" %}
{% endblock %}