---
title: Xee Image Viewer for macOS
meta_descr: Xee lets you easily browse and manage images on your Mac. Browse images within folders and archives, move and copy them right in the app.
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <div class="product -big -prod">
        <div class="product-img">
          <img src="img/xee.png"
               srcset="img/xee@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">Xee <sup>3</sup></h2>
          <div class="product-subtitle">Image viewer for macOS</div>
          <div class="product-descr">
            <p>Xee is an streamlined and convenient image viewer and browser. It’s similar to Mac OS X's Preview.app, but lets you easily browse the entire contents of folders and archives, move and copy image files quickly, and supports many more image formats. times more powerful than the native macOS utility and supports infinitely more archive formats.</p>
          </div>
          <button class="btn">Download for Free</button>
          <div class="get">
            <button class="btn -gray">Buy now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><a href="#">{{ mixins.icon('macpaw') }} Store MacPaw</a></li>
                <li><a href="#">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
          <div class="product-hint"><small>OS X 10.7 or later. For earlier versions <a href="#">click here</a>.</small></div>
        </div>
      </div>
      <div class="benefits row">
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/browse.svg" alt=""></div>
            <div class="h4">Browse images in archives</div>
            <div class="benefit-text">View contents in archives and folders, faster and easier, without extracting them.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/img.svg" alt=""></div>
            <div class="h4">View images of all formats</div>
            <div class="benefit-text">When your native Preview refuses to display images because of an “unsupported file format”, use Xee for the job.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/media.svg" alt=""></div>
            <div class="h4">Manage your galleries</div>
            <div class="benefit-text">You’re not only having better view of all your files, but better management also. Organize your image gallery in minutes.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="wrapper">
      <div class="slider js_slider">
        <div class="frame js_frame">
          <ul class="slides js_slides">
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
            <li class="js_slide">
              <img src="img/screenshot1.jpg" alt="">
            </li>
          </ul>
        </div>
        <button class="slider-prev js_prev">{{ mixins.icon('prev') }}</button>
        <button class="slider-next js_next">{{ mixins.icon('next') }}</button>
      </div>
      <div class="howto">
        <div class="howto-footer">
          <p>Xee is an Mac image viewer we always wanted and never had. It’s sleek, it’s fast, and it works with all types of images.</p>
          <button class="btn">Download for Free</button>
          <div class="get">
            <button class="btn -gray">Buy now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><a href="#">{{ mixins.icon('macpaw') }} Store MacPaw</a></li>
                <li><a href="#">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
          <p><small>OS X 10.7 or later. For earlier versions <a href="#">click here</a>.</small></p>
        </div>
      </div>
    </div>
  </section>
  {% include "./blocks/_more.njk" %}
{% endblock %}