---
url: https://theunarchiver.com/xee
title: Xee | Image Viewer for macOS
meta_descr: Xee lets you easily browse and manage images on your Mac. Browse images within folders and archives, move and copy them right in the app.
---

{% extends "./layouts/_layout.njk" %}

{% block content %}
  <section class="topper">
    <div class="wrapper">
      <div class="product -big -prod">
        <div class="product-img">
          <img src="img/xee.png"
               srcset="img/xee@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <h2 class="product-title h2">Xee <sup>3</sup></h2>
          <div class="product-subtitle">Image viewer for macOS</div>
          <div class="product-descr">
            <p>Xee is an streamlined and convenient image viewer and browser. It’s similar to macOS's Preview.app, but lets you easily browse the entire contents of folders and archives, move and copy image files quickly, and supports many more image formats.</p>
          </div>
          <a href="/downloads/Xee3.zip" class="btn">Download</a>
          <div class="get">
            <button class="btn -gray">Buy Now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><button class="js-paddle" data-product="489614">{{ mixins.icon('macpaw') }} MacPaw Store</button></li>
                <li><a href="https://itunes.apple.com/us/app/xee/id639764244?mt=12">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits row">
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/browse.svg" alt=""></div>
            <div class="h4">Browse images in archives</div>
            <div class="benefit-text">View contents in archives and folders, faster and easier, without extracting them.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/img.svg" alt=""></div>
            <div class="h4">View images of all formats</div>
            <div class="benefit-text">When your native Preview refuses to display images because of an “unsupported file format”, use Xee for the job.</div>
          </div>
        </div>
        <div class="col-4 mob-col-12">
          <div class="benefit">
            <div class="benefit-icon"><img src="img/svg/media.svg" alt=""></div>
            <div class="h4">Manage your galleries</div>
            <div class="benefit-text">You’re not only having better view of all your files, but better management also. Organize your image gallery in minutes.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="wrapper">
      <div class="swiper-container js-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/xee-screenshot-01.png"
                 srcset="img/xee-screenshot-01@2x.png 2x"
                 alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/xee-screenshot-02.png"
                 srcset="img/xee-screenshot-02@2x.png 2x"
                 alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/xee-screenshot-03.png"
                 srcset="img/xee-screenshot-03@2x.png 2x"
                 alt="">
          </div>
        </div>
        <button class="swiper-prev js-prev">{{ mixins.icon('prev') }}</button>
        <button class="swiper-next js-next">{{ mixins.icon('next') }}</button>
      </div>
      <div class="howto">
        <div class="howto-footer">
          <p>Xee is an Mac image viewer we always wanted and never had. It’s sleek, it’s fast, and it works with all types of images.</p>
          <a href="/downloads/Xee3.zip" class="btn">Download</a>
          <div class="get">
            <button class="btn -gray">Buy Now {{ mixins.icon('arr-down') }}</button>
            <div class="get-dropdown">
              <ul class="get-list">
                <li><button class="js-paddle" data-product="489614">{{ mixins.icon('macpaw') }} MacPaw Store</button></li>
                <li><a href="https://itunes.apple.com/us/app/xee/id639764244?mt=12">{{ mixins.icon('apple') }} Mac App Store</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="more">
    <div class="wrapper">
      <h2 class="h2">Other Apps:</h2>
      <div class="apps-row">
        <div class="apps-col">
          <a href="/" class="product -small">
            <div class="product-img">
              <img src="img/unarchiver.png"
                   srcset="img/unarchiver@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">The Unarchiver</div>
              <div class="product-descr">
                <p>Open any archive in seconds</p>
              </div>
            </div>
          </a>
        </div>
        <div class="apps-col">
          <a href="archive-browser" class="product -small">
            <div class="product-img">
              <img src="img/archive-browser.png"
                   srcset="img/archive-browser@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">The Archive Browser</div>
              <div class="product-descr">
                <p>The hugely popular unarchiving app for macOS.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="apps-col">
          <a href="archives" class="product -small">
            <div class="product-img">
              <img src="img/archives.png"
                   srcset="img/archives@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">Archives</div>
              <div class="product-descr">
                <p>Handle archives on the iPhone and iPad.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="apps-col">
          <a href="command-line" class="product -small">
            <div class="product-img">
              <img src="img/command-line-tools.png"
                   srcset="img/command-line-tools-icon@2x.png 2x"
                   alt="">
            </div>
            <div class="product-info">
              <div class="product-title h4">Command Line Tool</div>
              <div class="product-descr">
                <p>Use Unarchiver’s code on other OSes with command line.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block paddle %}
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  <script type="text/javascript">
    var Helpers = function() {};
    Helpers.prototype.setCookie = function(name, value, days) {
      var expires = '';
      if (days) {
        var date = new Date();
        date.setDate(date.getDate() + days);
        var expires = '; expires=' + date.toGMTString();
      }
      document.cookie = name + '=' + value + expires + '; path=/';
    }
    Helpers.prototype.getCookie = function(name) {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var current_cookie = cookies[i];
        var current_name = current_cookie.substr(0, current_cookie.indexOf('='));
        // trim
        current_name = current_name.replace(/^\s+|\s+$/g,'');
        if (current_name == name) {
          return decodeURI(current_cookie.substr(current_cookie.indexOf('=') + 1));
        }
      }
      return false;
    }
    Helpers.prototype.remCookie = function(name) {
      this.setCookie(name, '', -1);
    }
    var helpers = new Helpers();
    var isAndroid = /(android)/i.test(navigator.userAgent);
    Paddle.Setup({
      vendor: 126,
      eventCallback: function (event) {
        var coupon = '';
        var step;
        switch (event.event) {
          case 'Checkout.Login':
            step = 1;
            break;
          case 'Checkout.CountryInformationEntered':
            step = 2;
            break;
          case 'Checkout.PaymentMethodSelected':
            step = 3;
            break;
          case 'Checkout.PaymentComplete':
            step = 4;
            break;
          case 'Checkout.Complete':
            step = 5;
            break;
        }
        var obj = {
          'event': 'macpaw-paddle',
          'paddle-currency': event.eventData.checkout.prices.vendor.currency,
          'paddle-referrer': event.checkoutData.parentURL,
          'paddle-eventCategory': 'Checkout',
          'paddle-eventAction': event.event,
          'ecommerce': {
            'actionField': {
              'action': 'checkout',
              'step': step
            },
            'checkout': {
              'products': [{
                'name': event.eventData.product.name,
                'id': event.eventData.product.id,
                'price': event.eventData.checkout.prices.vendor.total,
                'quantity': event.eventData.product.quantity
              }]
            },
            'currencyCode': event.eventData.checkout.prices.vendor.currency
          }
        };
        if (event.event != 'Checkout.DuplicateWarningShown' && event.event != 'Checkout.Close' && event.event != 'Checkout.Loaded' && event.event != 'Checkout.Error') {
          dataLayer.push(obj);
        }
        if (event.event == 'Checkout.Close' && isAndroid) {
          var viewport = document.querySelector("meta[name=viewport]");
          viewport.setAttribute('content', 'width=device-width, initial-scale=0.32');
        }
        if (event.event == 'Checkout.Complete') {
          if (event.eventData.checkout.coupon) coupon = event.eventData.checkout.coupon.coupon_code;
          if (helpers.getCookie('cookieOrderId') != event.eventData.checkout.id) {
            dataLayer.push({
              'event': 'macpaw-paddle-purchase',
              'paddle-currency': event.eventData.checkout.prices.vendor.currency,
              'paddle-referrer': event.checkoutData.parentURL,
              'paddle-eventCategory': 'Checkout',
              'paddle-eventAction': event.event,
              'ecommerce': {
                'purchase': {
                  'actionField': {
                    'id': event.eventData.checkout.id,
                    'revenue': event.eventData.checkout.prices.vendor.total,
                    'coupon': coupon
                  },
                  'products': [{
                    'name': event.eventData.product.name,
                    'id': event.eventData.product.id,
                    'price': event.eventData.checkout.prices.vendor.total,
                    'quantity': event.eventData.product.quantity,
                    'coupon': coupon
                  }]
                }
              }
            });
          }
          helpers.setCookie('cookieOrderId', event.eventData.checkout.id);
        }
      }
    });
    [].slice.call(document.querySelectorAll('.js-paddle')).forEach(function(btn) {
      btn.addEventListener('click', function (e) {
        var productId = e.target.getAttribute('data-product');
        Paddle.Checkout.open({
          product: productId,
          passthrough: 126
        })
      });
    });
  </script>
{% endblock %}