<section class="more">
  <div class="wrapper">
    <h2 class="h2">Other Apps:</h2>
    <div class="apps-row">
      <a href="browser.html" class="product -small">
        <div class="product-img">
          <img src="img/archive-browser.png"
               srcset="img/archive-browser@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <div class="product-title h4">The Archive Browser</div>
          <div class="product-descr">
            <p>The hugely popular unarchiving app for Mac OS X.</p>
          </div>
        </div>
      </a>
      <a href="archives.html" class="product -small">
        <div class="product-img">
          <img src="img/archives.png"
               srcset="img/archives@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <div class="product-title h4">Archives</div>
          <div class="product-descr">
            <p>Handle archives on the iPhone and iPad.</p>
          </div>
        </div>
      </a>
      <a href="xee.html" class="product -small">
        <div class="product-img">
          <img src="img/xee.png"
               srcset="img/xee@2x.png 2x"
               alt="">
        </div>
        <div class="product-info">
          <div class="product-title h4">Xee <sup>3</sup></div>
          <div class="product-descr">
            <p>Easily browse images in folders and archives on OS X.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>