<meta charset="utf-8">
<title>{{ title }}</title>
<link rel="canonical" href="{{ url }}">
<meta name=“google-site-verification” content=“2F_Ob_yOYzGey18bxqkdu1rr716Q3XQhNIHnmnQoUdE” />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="{{ meta_descr }}">
<link rel="shortcut icon" href="./img/the-unarchiver-96x96.png" sizes="16x16 24x24 32x32 48x48 64x64 96x96"/>
<link rel="apple-touch-icon" href="./img/the-unarchiver-96x96.png" sizes="96x96"/>
<link rel="apple-touch-icon" href="./img/the-unarchiver-144x144.png" sizes="144x144"/>
<link rel="stylesheet" media="all" href="css/style.css">