.icon {
  fill: currentColor;
}
.icon-info {
      width: 1em;
      height: 1em;
    }
.icon-next {
      width: 0.6em;
      height: 1em;
    }
.icon-prev {
      width: 0.6em;
      height: 1em;
    }
.icon-star {
      width: 1.1em;
      height: 1em;
    }