.icon {
  fill: currentColor;
}
.icon-apple {
      width: 0.9em;
      height: 1em;
    }
.icon-arr-down {
      width: 1.5em;
      height: 1em;
    }
.icon-info {
      width: 1em;
      height: 1em;
    }
.icon-macpaw {
      width: 1em;
      height: 1em;
    }
.icon-next {
      width: 0.6em;
      height: 1em;
    }
.icon-prev {
      width: 0.6em;
      height: 1em;
    }
.icon-star {
      width: 1.1em;
      height: 1em;
    }